<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsServlet</servlet-name>
    <servlet-class>servlet.GetGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCartServlet</servlet-name>
    <servlet-class>servlet.GetCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodServlet</servlet-name>
    <servlet-class>servlet.GetGoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <servlet-class>servlet.ChangeAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAddressServlet</servlet-name>
    <servlet-class>servlet.GetAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>servlet.GetInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <servlet-class>servlet.ChangeInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyCollectServlet</servlet-name>
    <servlet-class>servlet.MyCollectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisteServlet</servlet-name>
    <servlet-class>servlet.RegisteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteGoodServlet</servlet-name>
    <servlet-class>servlet.DeleteGoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoodServlet</servlet-name>
    <servlet-class>servlet.AddGoodServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsServlet</servlet-name>
    <url-pattern>/GetGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCartServlet</servlet-name>
    <url-pattern>/GetCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodServlet</servlet-name>
    <url-pattern>/GetGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <url-pattern>/ChangeAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAddressServlet</servlet-name>
    <url-pattern>/GetAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <url-pattern>/ChangeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyCollectServlet</servlet-name>
    <url-pattern>/MyCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisteServlet</servlet-name>
    <url-pattern>/RegisteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodServlet</servlet-name>
    <url-pattern>/DeleteGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoodServlet</servlet-name>
    <url-pattern>/AddGoodServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
